<!-- <div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
            <svg width="16px" height="12px">
                <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
        </div>
    </div>
</div> -->

<%- include('partials/header.ejs') %>

<!-- hero -->
<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp mb-3 mb-lg-5" data-wow-delay=".2s">Discover the <span>Right Parts</span> for your Car </h1>
                    <p class="wow fadeInUp mb-3 mb-lg-5" data-wow-delay=".4s">
                        ...rebum provides access to the biggest selection of ready-to-ship aftermarket parts, tools, and accessories, benefiting significant automotive sectors.
                    </p>
                    <a href="" rel="nofollow" class="btn main-btn btn-danger wow fadeInUp"
                        data-wow-delay=".6s">Find your car</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="/img/image2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end hero -->

<!-- partners -->
<section id="partner" class="partner-section pt-60 pb-60 bg-light">
    <div class="container">
        <div class="row justify-content-around flex-wrap align-items-center">
            <div class="col-lg-2 col-sm-6 partner-container">
                <div class="single-partner wow fadeInUp" data-wow-delay=".2s">
                    <img src="/img/toyota.png" width="150px" height="" alt="Toyota">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 partner-container">
                <div class="single-partner wow fadeInUp" data-wow-delay=".4s">
                    <img src="/img/honda.png" width="150px" height="" alt="Honda">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 partner-container">
                <div class="single-partner wow fadeInUp" data-wow-delay=".6s">
                    <img src="/img/mercedes.png" width="150px" height="" alt="Mercedes">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 partner-container">
                <div class="single-partner wow fadeInUp" data-wow-delay=".8s">
                    <img src="/img/kia.png" width="150px" height="" alt="Kia">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 partner-container">
                <div class="single-partner wow fadeInUp" data-wow-delay=".8s">
                    <img src="/img/hyundai.png" width="150px" height="" alt="Hyundai">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end partners -->

<!-- categories -->
<section class="categories pt-60 pb-60">
    <div class="dash mb-3"></div>
    <h1 class="text-center text-dark">Categories</h1>
    <div class="container">
        <!-- lubrication -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Lubrication</h2>
                <img src="/img/lubrication.png" alt="All things oil">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start align-items-start">
                <% for (let i = 0; i < lubrication.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= lubrication[i]._id %>">
                            <img src="<%= lubrication[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= lubrication[i].name %></p>
                            <p class="card-text text-warning mt-3">$<%= lubrication[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
        <!-- interior -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Interior</h2>
                <img src="/img/interior.png" alt="Interior accessories">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start">
                <% for (let i = 0; i < interior.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= interior[i]._id %>">
                            <img src="<%= interior[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= interior[i].name %></p>
                            <p class="card-text text-warning mt-3">$<%= interior[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
        <!-- exterior -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Exterior</h2>
                <img src="/img/exterior.png" alt="exterior parts">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start">
                <% for (let i = 0; i < exterior.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= exterior[i]._id %>">
                            <img src="<%= exterior[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= exterior[i].name %></p>
                            <span class="fa fa-star text-warning"></span>
                            <p class="card-text text-warning mt-3">$<%= exterior[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
        <!-- lighting -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Lighting</h2>
                <img src="/img/lighting.png" alt="car lighting">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start">
                <% for (let i = 0; i < lighting.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= lighting[i]._id %>">
                            <img src="<%= lighting[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= lighting[i].name %></p>
                            <span class="fa fa-star text-warning"></span>
                            <p class="card-text text-warning mt-3">$<%= lighting[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
        <!-- wheels & tyres -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Wheels & Tyres</h2>
                <img src="/img/wheel.png" alt="wheels & tyres">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start">
                <% for (let i = 0; i < wheel.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= wheel[i]._id %>">
                            <img src="<%= wheel[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= wheel[i].name %></p>
                            <span class="fa fa-star text-warning"></span>
                            <p class="card-text text-warning mt-3">$<%= wheel[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
        <!-- body -->
        <section class="lubrication row mt-5">
            <div class="col-4">
                <h2>Body</h2>
                <img src="/img/body.png" alt="body parts">
            </div>
            <div class="col-lg-8 row flex-wrap justify-content-start">
                <% for (let i = 0; i < bodies.length; i++) {%>
                    <div class="card col-lg-3 m-3 p-3" style="width: 200px; height: auto;">
                        <a href="/product/<%= bodies[i]._id %>">
                            <img src="<%= bodies[i].image %>" alt="" class="card-image-top">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= bodies[i].name %></p>
                            <span class="fa fa-star text-warning"></span>
                            <p class="card-text text-warning mt-3">$<%= bodies[i].price %></p>
                        </div>
                    </div>
                <%}%>
            </div>  
        </section>
    </div>
</section>

<%- include('partials/footer.ejs') %>