<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <div class="image-container">
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
        </div>
        <div class="col-lg-6 row justify-content-center align-items-center">
            <h3 class="mb-3"><%= product.name %></h3>
            <% if (product.model.length) {%>
                <p class="mb-3"><%= product.model %></p>
            <%}%>
            <p class="mb-3"><%= product.categories %></p>
            <p class="mb-3">$<%= product.price %></p>
            <form action="/cart/<%= product._id %>" method="POST">
                <button type="submit" class="btn bg-orange text-white p-3 col-12">Add to cart</button>
                <div class="form-group mt-5 row">
                    <label for="quantity" class="col-sm-2 col-form-label">Quantity:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="quantity" id="quantity" min="1" value="1">
                    </div>
                </div>
            </form>
            <p class="mt-5"><%= product.description %></p>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>